@import "normalize";

html,
body {
    background-color: #fff;
    font-family: "Avenir Next", "Helvetica Neue", sans-serif;
    font-size: 14px;
    line-height: 1.33;
    color: #333;
    background-color: #faf3ed;
}

.search-wrap {
    padding-top: 30px;
}

.search-title {
    text-align: center;
    font-family: "Sullivan";
}

.search-input {
    padding: 10px 15px;
    font-size: 22px;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.1);
    width: 100%;
    border: none;
    &:focus {
        outline: none;
    }
}

.search-form {
    width: 400px;
    margin: 0 auto;
}

.search-results {
    text-align: left;
    width: 90%;
    margin: 0 auto;
    ul {
        li {

        }
    }
}



